In [45]:
a = int(input("Enter first Number: "))
b = int(input("Enter Second Number: "))
c = int(input ("Enter Third number: "))
d = a * b * c
print("The multification of three numbers: ", d)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#variable in python
a  = 50 
a

50

In [ ]:
type(a)

int

In [ ]:
#Returns unique id for specified object
#Unique memory address that corresponds to the memory location where the integer value 10 i
id(a)

94127051372864

In [ ]:
a = 100
id(a)

94127051374464

In [ ]:
(x,y, z) = 50, 168.6, "Prem"

In [ ]:
print(x)

50

In [ ]:
print(y)

168.6

In [ ]:
type(y)

float

In [ ]:
x = y = z  = 10

In [ ]:
id(x)

94127051371584

In [ ]:
id(y)

94127051371584

In [ ]:
_abc = 100
_abc

100

In [ ]:
_name_age = "Prem_20"

In [ ]:
print(_name_age)

Prem_20

In [ ]:
@age = 40

SyntaxError: invalid syntax (2199593111.py, line 1)

In [ ]:
car = "BMW"
Car = "Tata"

In [ ]:
print(Car)

Tata

In [ ]:
country = "India"
country

'India'

In [ ]:
country[:3]

'Ind'

In [ ]:
cars = ["BMW", "Farara", "Toyota"]

In [ ]:
x, y, z = cars

In [ ]:
x

'BMW'

In [ ]:
y

'Farara'

In [ ]:
x = "Prem"

#Datatypes in Python

In [ ]:
#numeric datatypes
num  = 7
type(num)

int

In [ ]:
num  = 10.8
type(num)

float

In [ ]:
num  = -10.8
type(num)

float

In [ ]:
#complex datatype
num  = 8+ 6j
type(num)

complex

In [ ]:
num.real

8.0

In [ ]:
num.imag

6.0

In [ ]:
num = 7.8
b = int(num)
print(b)
print(type(num))
print(type(b))

7
<class 'float'>
<class 'int'>

In [ ]:
num = -90.5
print(type(num))
print(int(num))

<class 'float'>
-90

In [ ]:
b = 7
c = float(b)
print(c)

7.0

In [ ]:
#Boolean datatypes 
r = True
type(r)

bool

In [ ]:
num > 3

False

In [ ]:
my_bool = num >3
print(type(my_bool))

<class 'bool'>

In [ ]:
#String datatypes
str1 = "Python Programming"
str2 = "Learn this"
print(type(str1))

<class 'str'>

In [ ]:
print(str1[5]) #Count the index at 5 the index
print(str1[-4])  #Start from right side to left side (-1 means last part)

n
m

In [ ]:
str1[0: 5]  #Excludes the 5 index

'Pytho'

In [ ]:
str2.find("l")  #-1 means not found

-1

In [ ]:
str2.find("n")

4

In [ ]:
#List datatypes
split1  = "This , is , orgnage"
l1 = split1.split(",")
l1

['This ', ' is ', ' orgnage']

In [ ]:
type(split1)

str

In [ ]:
print(type(l1))

<class 'list'>

In [ ]:
lis1 = ['a', '1', 'Nepal']
lis1

['a', '1', 'Nepal']

In [ ]:
list2 = ['b', 2]
lis1 += list2  #Add list2 to lis1 
print(lis1)

['a', '1', 'Nepal', 'b', 2, 'b', 2]

In [ ]:
#tuple datatypes 
tup1 = ('a', 'b', 'c', 'd')
type(tup1)

tuple

In [ ]:
tup12 = ('e', 'f', 'g')
tup1 += tup12 
print(tup1)

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [ ]:
tup1 *2 #Print original tuple twice

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c', 'd', 'e', 'f', 'g')

In [ ]:
#Mapping datatypes 
dict1 = {1 : "Lion", 2: "Tiger", 3: "Dog"}
dict1

{1: 'Lion', 2: 'Tiger', 3: 'Dog'}

In [ ]:
type(dict1)

dict

In [ ]:
len(dict1)

3

In [ ]:
#Set datatypes  - unorder collections | uniqe 
set1 = {1, 2, 3, 4, 3, 4, 5}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
set2 = {'a', 'b', 3 , 4}
print(set1 | set2) # or operation #Print all values inside set1 and set2

{1, 2, 3, 4, 5, 'b', 'a'}

In [ ]:
#and operatio
set1 & set2  #printd the value present in both set1 and set2

{3, 4}

In [ ]:
set1 -set2  #present in set1 but not in set2

{1, 2, 5}

In [ ]:
#Range datatypes
x = range(4) # 4th index excluded (not included)
x

range(0, 4)

In [ ]:
print(type(x))
len(x)

<class 'range'>

4

In [ ]:
#Binary datatypes 
x = b"Hello Word" #binaray data 
x

b'Hello Word'

In [ ]:
type(x)

bytes

In [ ]:
print(x[4]) #what is present at the 4th index of an string 0 is at the 4th index
#so asciall value of small o is 111 #https://www.ibm.com/docs/en/sdse/6.4.0?topic=configuration-ascii-characters-from-33-126

111

In [ ]:
x[-2] #r

114

In [ ]:
#
s  = "Messi is from argentina"
type(s)

str

In [ ]:
l = list(s) #Convert string to list 
l

['M',
 'e',
 's',
 's',
 'i',
 ' ',
 'i',
 's',
 ' ',
 'f',
 'r',
 'o',
 'm',
 ' ',
 'a',
 'r',
 'g',
 'e',
 'n',
 't',
 'i',
 'n',
 'a']

In [ ]:
type(l)

list

In [ ]:
l1 = [1, 15, 3, 6, 0, 4, 8, 3, 1]
type(l1)

list

In [ ]:
#convert list to set
s = set(l1)
print(s) #unique value returns
print(type(s))

{0, 1, 3, 4, 6, 8, 15}
<class 'set'>

In [ ]:
#Additioanl Object tyeps in python:  Files , 
# Program Unit types(functions, modules, classes), None Keyword ->Object of NoneType class
#Type conversion implicit and explicit

ord("My number") : Returns unique equivalent charct | hex() | oct() | convert number to complex(real, image) | chr(num) 
#z1 = complex(3, 4)   # Output: (3+4j)
#print(chr(65))  # Output: 'A' #returns the character representation of the given Unicode code

In [ ]:
#Number objects
num = 2 
type(num)

int

In [ ]:
type(2.0)

float

In [ ]:
add = 321 + 365
add

686

In [ ]:
62*2.5 #one int one float , it will convert to float

155.0

In [ ]:
2**4 #xponent

16

In [ ]:
import math 
math.pi

3.141592653589793

In [ ]:
import random #random modle
random.random() #Give random values between 0 to 0.99999

0.24302974184389547

In [ ]:
#String ojbect 
A = "India"
A[-1]

'a'

In [ ]:
A[1:]

'ndia'

In [ ]:
print(A + "Xyz") #Concatenation

IndiaXyz

In [ ]:
A*7

'IndiaIndiaIndiaIndiaIndiaIndiaIndia'

In [ ]:
#Replace
A.replace('ia', "Nep")

'IndNep'

In [ ]:
A

'India'

In [ ]:
#List objects
L1 = [101, "America", 20.5]
print(L1)

[101, 'America', 20.5]

In [ ]:
len(L1)

3

In [ ]:
L1[1] #

'America'

In [ ]:
L1[:-1] #print all excluding last one

[101, 'America']

In [ ]:
L1.append("USA")
L1

[101, 'America', 20.5, 'USA', 'USA']

In [ ]:
#Pop fucntion
L1.pop(3) #removes 3index

[101, 'America', 20.5]

In [ ]:
L1 = [101, "America", 20.5]
L1.reverse() #reverse the list
L1

[20.5, 'America', 101]

In [ ]:
#Dictionaries
dict1 = {1: "Tigher", 2: "Lion", 3: "Mouse"}
print(dict1)

{1: 'Tigher', 2: 'Lion', 3: 'Mouse'}

In [ ]:
dict1.keys()

dict_keys([1, 2, 3])

In [ ]:
dict1.values()

dict_values(['Tigher', 'Lion', 'Mouse'])

In [ ]:
dict1[4] = "Cat"

In [ ]:
print(dict1)

{1: 'Tigher', 2: 'Lion', 3: 'Mouse', 4: 'Cat'}

In [ ]:
#Tuple objects 
t1 = (1, 2, 3, 4)
print(len(t1))

4

In [ ]:
t2 = t1 + (7, 0)
t2

(1, 2, 3, 4, 7, 0)

In [ ]:
t2[3] #Return 3rd index

4

In [ ]:
#File objects
f1 = open("learning_example_file.txt", 'w')

In [ ]:
f1.write("Hello simply learng \n ")
f1.write("Welcome to python programming \n")
f1.close()

In [ ]:
#Sets 
s = set('IndiA') #Conver this to a set
s1 = set(["U", "S" , 'A'])
s, s1

({'I', 'a', 'd', 'i', 'n'}, {'S', 'U', 'a'})

In [ ]:
s & s1  #common element in both the set, for example is A is the common element here and so a output

{'a'}

In [ ]:
s | s1 #all elements in s and s1 , excluding repeating

{'I', 'S', 'U', 'a', 'd', 'i', 'n'}

In [ ]:
s - s1 #Returns elements in s but not s1

{'I', 'd', 'i', 'n'}

In [ ]:
s3 = set(['India'])
s3

{'India'}

In [ ]:
s4 = set('india') # it will take characters 
s4

{'a', 'd', 'i', 'n'}

In [ ]:
#implicity type converstion float + int  = float 
#Explicti conversion example
a = 5 
b  =  7.0 
c = int(a+b)
c

12

In [ ]:
print(type(c))

<class 'int'>

In [ ]:
#string + int addtion
a = 7 
p = '2'
type(p)

str

In [ ]:
r = a + p #Can not added int to str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
r = a + int(p)  #Convert str to int 
r

9

In [ ]:
#Conver float to int
a  = 77.9 
int_a = int(a)
int_a

77

In [ ]:
type(int_a)

int

In [ ]:
a = 50
float_a = float(a)
float_a

50.0

In [ ]:
a = 50 
comp_a  = complex(a) #Convert to complex number
comp_a

(50+0j)

In [ ]:
a = 50 
a = str(a)
type(a)

str

In [ ]:
print(a)

50

In [ ]:
s = "India" #convert tuple to string of individual elements
ts = tuple(s)
ts

('I', 'n', 'd', 'i', 'a')

In [ ]:
s = "India"
l1 = list(s) #Convert string to list
l1

['I', 'n', 'd', 'i', 'a']

In [ ]:
#convert tuple to list
t = ("John", "marry", "mark")
l2  = list(t)
l2

['John', 'marry', 'mark']

In [ ]:
t

('John', 'marry', 'mark')

In [ ]:
#Convert int to binary | hex and oct
a = 10
p = bin(a)
c = hex(a)
d = oct(a)
print(p)
print(c)
print(d)

0b1010
0xa
0o12

In [ ]:
#Conver number to ascii
n1 = 76
chr(n1) #Asci value of L is

'L'

In [ ]:
#Convert Charcter to AScill value
s = 'A'
r = ord(s) 
r

2346

In [ ]:
#Convert Charcter to AScill value
s = 'प'
r = ord(s) 
r

2346

In [ ]:
num = 7 
type(num)

int

In [ ]:
num = 7.7
type(num)

float

In [ ]:
num = 7 + 5j  #The complex numbers are stored as float datatype for real and imagery both part
type(num)

complex

In [ ]:
#Real 
num.real

7.0

In [ ]:
num.imag #imaginary part

5.0

In [ ]:
#Arithmetics 
num1 = 17
num2 = 25

In [ ]:
print(num1+num2)

42

In [ ]:
print(8/4)  #Python always gives the division result in decimal only

2.0

In [ ]:
print(8//4)  # // will give you the interger division value
print(8//3)

2
2

In [ ]:
print(2**4) #exponent

16
6

print(2^4)  #Xor operation
  0010
^ 0100
-------
  0110

In [ ]:
print(2^4)  #This symbol represnts Xor opration between binary represent of those numbers:

6

In [ ]:
print(4%2) #Modulus operation | Get remained 
print(5%2)
print(8%3)

0
1
2

g = 1 + 5j
h = 2 + 3j
(g / h) = (g * conjugate(h)) / (h * conjugate(h)) 
conjugate(h) = 2 - 3j

To rationalize the denominator, we multiply the numerator and denominator by the conjugate of the denominator:

In [ ]:
#division of two complex numbers
g = 1 + 5j
h = 2+3j 
i = g/h 
print(i)

(1.307692307692308+0.5384615384615384j)

In [ ]:
#Conversion implictit and explicity
a  = "196"
print(type(a))
b = int(a) #Explicit type conversion
print(type(b)) 
c = float(a) 
type(c)

<class 'str'>
<class 'int'>

float

In [ ]:
d = complex(a) #Explicit covnersion of string a into complex number
print(type(d))
print(d)

<class 'complex'>
(196+0j)

In [ ]:
print( complex(3, 6))

(3+6j)

In [ ]:
a = 2.6 #float + int = float (implicit type conversion)
b = 6
c = a+b
c

8.6

In [ ]:
#binary , hex, ocatal number
0b11011000  #ZeroFollowed by b 0b means binary number

216

In [ ]:
0B11011000

216

In [ ]:
0o12   #Ocatal number zero and wo #ocatl converter to decimal

10

In [ ]:
0x12  #Hexdecimal number , convered to decimal

18

In [ ]:
#fractions
from fractions import Fraction as F #
x = F(1, 3) + F(1,3) #fraction computing #F(1, 3) means 1/3
print(x)

2/3

In [ ]:
#Reciprocal of fraction
print(1/F(5, 6))

6/5

In [ ]:
#Absolute function
x =  -9.8 #Turns any number to positive
abs(x)

9.8

In [ ]:
import math  #Math module
math.pi

3.141592653589793

In [ ]:
math.e #exponent value

2.718281828459045

In [ ]:
math.exp(10)  #e to the power 10

22026.465794806718

In [ ]:
math.log10(100)

2.0

In [ ]:
math.factorial(6) #4*5*4*3*2*1

720

In [ ]:
math.sqrt(25)  #gives float number as output

5.0

In [ ]:
max(1, 33,6, 7)  #max , min
min(1, 3, 66, 7)

1

In [ ]:
#Rounds up to the higer value
print(math.ceil(-43.8))  #Note the in case of negative number -43 is higher number than -44 so, it is rounded to -43
print(math.ceil(43.8))
print(math.ceil(43.2))

-43
44
44

In [ ]:
print(math.floor(-43.4) ) #Not here also floor | rounded  lower value number is -44 
print(math.floor(35.8) ) #

-44
35

In [ ]:
math.pow(2, 6) #2 raised to power of 6

64.0

In [ ]:
#trignometric fuctions
print(math.cos(0))  #Values between -1 and 1
print(math.cos(math.pi))

1.0
-1.0

In [ ]:
#calculates the tangent of a given angle for example 0 radian,  in radians
#The tangent of an angle is a trigonometric function that represents 
# the ratio of the length of the side opposite the angle to the length of the adjacent side in a right triangle.
#p/b ratio
print(math.tan(0))  #Returns tangent of parameter x

0.0

In [ ]:
angle_in_degree = 45 # 1 degree means π/4 radians
#degrees and radians are both units of angular measurement 
#radians = 45 × (π / 180) ≈ 0.7854 radians
#degrees = 2 × (180 / π) ≈ 114.59 degrees
angle_in_radian = math.radians(angle_in_degree) #0.7853981633974483
print(angle_in_radian)
print(math.tan(angle_in_radian))  #almost equal to 1

0.7853981633974483
0.9999999999999999

In [ ]:
#Random number:
import random
print(random.randrange(10, 20)) #Get random number between 10 and 20

12

In [ ]:
x =  ['1', '2', '3', 'Prem', '5']
print(random.choice(x))
x =  ['Prem', 'Ram', 'Shyam', 'Giuta', 'Rita']
print(random.choice(x))

5
Prem

#string : str as datatype

In [ ]:
str3 = """Prem Sing Bist """ #Triples lines are for multiline string or docstrings
str3

'Prem Sing Bist '

In [ ]:
str1 = 'Hi Sam'
print(str1)

Hi Sam

In [ ]:
type(str1)

str

In [ ]:
str2 = "Hello Angela"
print(str2)

Hello Angela

In [ ]:
str3 = """Hi every one
 Today we learng
"""
print(str3)

Hi every one
 Today we learng

In [ ]:
#Indexing 
str1 = "simplelearn"
str1[0]

's'

In [ ]:
str1[12] #if no element is found

IndexError: string index out of range

In [ ]:
#slicing 
str1[0:]

'simplelearn'

In [ ]:
str1[0: 6] #Exclude the 6th index

'simple'

In [ ]:
str1[:6] #Every thins till 6th index excluded

'simple'

In [ ]:
#print(str1) #simplelearn
str1[::-1] #reverse string simple method  #first is start, stop, and step,  This means all to all with step increment by -1 at at time

'nraelelpmis'

In [ ]:
str1[-1] #SimpleLearn  | -1 means last index

'n'

In [ ]:
str1[-3]  #From the right side to left, third position value

'a'

In [ ]:
print(str1)
str1[-2:]  #Simple | from the 2nd postion from the right to left, print all elements towards the right

simplelearn

'rn'

In [ ]:
#Reassing strings
str1

'simplelearn'

In [ ]:
str1[3] = '0' #Python does not support reassigning. | Ie is it is immutable , similar to  tuple

TypeError: 'str' object does not support item assignment

In [ ]:
#Delete string
str2 = "Python programming"
del str2
print(str2)

NameError: name 'str2' is not defined

In [ ]:
#String operations
str1 ='python'
str2 = 'programming'
str1*3 #print python thrice

'pythonpythonpython'

In [ ]:
str1 + str1

'pythonpython'

In [ ]:
str1+str2 #Concatenation

'pythonprogramming'

In [ ]:
#Check charcter is present
'w' in str1 #No found character so false

False

In [ ]:
'py' in str1 #No found character so false

True

In [ ]:
'python12' in str1 #No found character so false

False

In [ ]:
#Print raw string
print('c:/\n/python3.7') #here \n is intrepreted  as a new line, so raw string can not be printed.

c:/
/python3.7

In [ ]:
print(r'c:/\n/python3.7') #Here the raw string is printed

c:/\n/python3.7

In [ ]:
#Formatting methods 
print("{} and {} both are best friends".format("Prem",  "Ram")) #repalces the argument dynamically

Prem and Ram both are best friends

In [ ]:
print("{1} and {0} both are best friends".format("Prem",  "Ram"))  #1th index is printed at frist and 0th index at second postion

Ram and Prem both are best friends

In [ ]:
print("{b} and {a} both are best friends".format(a = "Prem", b= "Ram"))

Ram and Prem both are best friends

In [ ]:
#String formatting with % symbol  | %s for string , %d for digit 
name = "Angela"
salary = 10000
print("Her name is %s \n her sarlary is %d"%(name, salary) )

Her name is Angela
 her sarlary is 10000

In [ ]:
str1 = 'simplelearn'
str2 = str1.capitalize() #convert first letter 
str2

'Simplelearn'

In [ ]:
str1 = 'SIMLE'
str2 = str1.casefold() # casefold means: lower case
str2

'simle'

In [ ]:
str1 = 'My Name is Prem'
str2 = str1.upper() # : Upd case
str2

'MY NAME IS PREM'

In [ ]:
str1 = 'My Name is Prem'
str2 = str1.lower() # lower case
str2

'my name is prem'

In [ ]:
str1 = 'sars cov for escape prediction of viral seq'
str2 = str1.title() # Title Case , every first letter capatilize
str2

'Sars Cov For Escape Prediction Of Viral Seq'

In [ ]:
#Count occurence of particular char present
print(str1)
str1.count('s')

sars cov for escape prediction of viral seq

4

In [ ]:
#Replace 
str1 = "Hamburg is located in france " 
str2 = str1.replace("france", "Germany") #note the case sensitivity if france is writted as France , it won't work
str2

'Hamburg is located in Germany '

In [ ]:
#split function
str1 = "Hamburg is located in Germany"
str1.split() #Default it is split by space

['Hamburg', 'is', 'located', 'in', 'Germany']

In [ ]:
#Operators in pythhon  | 
# ~ tilde character : bitwise not 
#identity operator : is , is not 
#membership operator: in, not in    - Value present in sequence ?

In [ ]:
#arithmetic operation
x = 10
y = 4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y) #remained
print(x**y) #x to the power y

14
6
40
2.5
2
10000

In [ ]:
#Floor division 
print(x//y) #whole number #give the lower intger value  #Largest integer that is less than or equal to the result of the division.

2

In [ ]:
#Assignment operators
x = 7
x

7

In [ ]:
print(x= x+3) #Assignement oprator does not work in side print

TypeError: 'x' is an invalid keyword argument for print()

In [ ]:
x += 3
print(x)

13

In [ ]:
x *=3
x

39

In [ ]:
x /= 3 #
x

4.333333333333333

In [ ]:
x = 7
x **= 2 # 7 raised to the power of 2
x

49

In [ ]:
#Comparision operators
x = 7
y = 3
x == y

False

In [ ]:
x = 7
y = 3
x != y

True

In [ ]:
x = 7
y = 3
x >= y

True

In [ ]:
x = 7
y = 3
x <= y

False

In [ ]:
#Logical operators
#and operator
x = 7
y = 12
print(x >2 and y <10)

False

In [ ]:
x = 5
print(x >3 or y <10 )

True

In [ ]:
print(x >10 or y <20)

True

In [ ]:
#not operator 
x = 5 
print(x >3 and x <10)

True

In [ ]:
x = 5 
print(not(x >3 and x <10)) #Expression evalutats to True  , then not (__True expression_) = False

False

In [ ]:
#Identity operators
x = 505
y = 500+5 
print(x, y)

505 505

In [ ]:
x == y #the values are equal

True

In [ ]:
x is y   #check with identity operator  | False because they are not referencing to the same object

False

In [ ]:
#id : Tepresents the object's memory address in the system
#It ) function are virtual addresses managed by the interpreter of python not tied to the physical memroy in the ram
print(id(x))
print(id(y))  #Memory location for the both x & y are different

140366207997552
140366207997712

In [ ]:
x = 100
y = 100 
x is not y

False

In [ ]:
#Remeber than when you assing same value to the str1 and str2, it will point to the same memory address
#not different memory is allocated #This concept is known as string interning to save memory address 

a  = "prem"
b = "prem" 
print(id(a))
print(id(b))
a is not b

140366207507344
140366207507344

False

In [ ]:
#If you would like to assing and new address with the same value
# Still you can not do this... #one easiest way is to append space :) 
a = "prem"
c = str(a + " ")
print(id(a))
print(id(c))

140366207507344
140366207506224

In [ ]:
d = a[:] #this still 
print(d)
print(id(d))

prem
140366207507344

In [ ]:
a = [5, 6, 3, 7 , 1, 9]
b = [5, 6, 3, 7 , 1, 9]
c = a
print(a is c)

True

In [ ]:
print(a is b) # This false because for array , python allocates different address althoug they are equal

False

In [ ]:
#Membership operator in python # in , not in
a = [5, 6, 3, 7 , 1, 9]
b = [4, 'python', 2, 7 , 'simplylearn', 9]
5 in a

True

In [ ]:
55 in a

False

In [ ]:
'python' in b

True

In [ ]:
'Python' in b #Case sensitive

False

In [ ]:
y  = {'a' : 'india', 'b' : 'USA'} 
print('a' in y)
print('india' in y)  #this is false becuase membership operator only works with key not values

True
False

In [ ]:
y  = {1 : 'india', 'b' : 'USA'} 
print(1 in y)

True

In [ ]:
#Bitwise operator # Bitwise &  , Bistwide | operator
#  7 = 111 
#  2  = 010 
#Bitwise and = 010 
#Result = 2
7 & 2

2

In [ ]:
#List -- ordered,  mutable, duplicates allow
#append(item) | insert(index, elem) -->insert at particular position
#extend(list2) ->Adds elements to the end 
#list1.remove(element) ->Removes specified value from list | del list[myIndex] delete element a  specific postion
#list1.sort()
#list1.reverse() 
#list1.index(element) ->returns index of specified value | incase of two same values the found element is returned
list1  = ["prem", "ram", "prem", "ram"] #in
list1.index('ram')

1

In [ ]:
list1 = ['apple', 'banana', 'gauva']
list2 = ['apple', [8, 4, 6], 'orange']
print(list2[1])
print(type(list2[2]))
print(type(list2[2]))
print(list1[-1]) #Last element of list ie. right most element

[8, 4, 6]
<class 'str'>
<class 'str'>
gauva

In [ ]:
#slicing 
print(list1[1:3]) #3rd index is exclusive
list1.append("orange")
list1

['banana', 'gauva']

['apple', 'banana', 'gauva', 'orange']

In [ ]:
list1.extend(['watermelon', 'pomegrante'])
list1

['apple',
 'banana',
 'gauva',
 'orange',
 'watermelon',
 'watermelon',
 'watermelon',
 'pomegrante',
 'watermelon',
 'pomegrante']

In [ ]:
#Delete element from the list
del list1[-1] #del list1[indexPos]

In [ ]:
list1

['apple',
 'banana',
 'gauva',
 'orange',
 'watermelon',
 'watermelon',
 'watermelon',
 'pomegrante',
 'watermelon']

In [ ]:
list1.remove('watermelon') #Remves based on name and only removes the first element it founds, not all elements with same name

In [ ]:
list1

['apple',
 'banana',
 'gauva',
 'orange',
 'watermelon',
 'watermelon',
 'pomegrante',
 'watermelon']

In [ ]:
list1.remove('watermelon')

In [ ]:
print(list1)

['apple', 'banana', 'gauva', 'orange', 'watermelon', 'pomegrante', 'watermelon']

In [ ]:
item  = list1.pop(1) #index 1 containts banana
print(item)

banana

In [ ]:
list1

['apple', 'gauva', 'orange', 'watermelon', 'pomegrante', 'watermelon']

In [ ]:
list1.clear() #Remove all the elements from list
list1

[]

In [ ]:
list2

['apple', [8, 4, 6], 'orange']

In [ ]:
list2.reverse() #reverse list2 inplace
list2

['orange', [8, 4, 6], 'apple']

In [ ]:
#count : Get the number of tims elemtn is present  
list1  = ['apple', 'gauva', 'orange', 'watermelon', 'pomegrante', 'watermelon']
list1.count('watermelon')

2

In [ ]:
#Tuple | immutable , so can not change value () | ordered | duplicates allowed
tup1  = (1, 'prem', 107, 'Nepal')
tup1

(1, 'prem', 107, 'Nepal')

In [ ]:
tup1[2]

107

In [ ]:
tup1*2

(1, 'prem', 107, 'Nepal', 1, 'prem', 107, 'Nepal')

In [ ]:
list1 = [1, 'prem', 107, 'Nepal']
list1*2

[1, 'prem', 107, 'Nepal', 1, 'prem', 107, 'Nepal']

In [ ]:
#note that in case of repeat operation, the list is not update, it allocates different memory without changing
#the original list  
print(list1)

[1, 'prem', 107, 'Nepal']

In [ ]:
tup1[1] = 'ram' #As tuple is immutable, you can not assing or change the element inside in constrast to list

TypeError: 'tuple' object does not support item assignment

In [ ]:
#tuple with single element is not considered as tuple, see here
tup2 = ('prem')
tup3 = ('prem' ,'ram')
print(tup2)
print(type(tup2))
print(type(tup3))
#To trea it as tuple you have to provide a single commas as well check here 
tup4 = ('prem' , ) 
print(tup4)
print(type(tup4))

prem
<class 'str'>
<class 'tuple'>
('prem',)
<class 'tuple'>
1

In [ ]:
tup5 = (0, 1, 2, 3, 4, 5) #Print in reverse order 
tup5[-1: 0: -1] #start index: end index(not include): increment by

(5, 4, 3, 2, 1)

In [ ]:
#Rever tuple
tup5[-1::]

(5,)

In [ ]:
#List can be reversed this way but, you can not include the index 
list5 = [0, 1, 2, 3, 4, 5]  #start, endIndex, increment | 
list5 [-1: 0: -1] #start from -1: stop at 0 : increment by -1 | going in the negative side

[5, 4, 3, 2, 1]

In [ ]:
list5.reverse()  #Simple apply revere method to revere list | do not get confused with string reverse :mystr[::-1]
list5

[5, 4, 3, 2, 1, 0]

In [ ]:
#reverse string
str1 = '1234'
str1[::-1] #Not that string can be reverse in this way as well as list

'4321'

In [ ]:
#Reversing manually using slicing 
#Explanation of ***   ::-1   ***start is empty, default begining, stop is empty, default to end , 
# -1 means iterate through reverse order  | 1 means iterate through forward order 
list5 = [0, 1, 2, 3, 4, 5]
list5[::-1]

[5, 4, 3, 2, 1, 0]

In [ ]:
#appending the element to the tuple | We donot have append, extend, or either tup1[indx] = "myvalue" operation in tuple
#Conver tuple to list and append to list and then convert back to tuple
tup1 = ('Prem', "32", "Phd")
tup1[3] = "JBNU"

TypeError: 'tuple' object does not support item assignment

In [ ]:
list1  = list(tup1)
list1

['Prem', '32', 'Phd']

In [ ]:
list1.append("JBNU")
list1

['Prem', '32', 'Phd', 'JBNU']

In [ ]:
#convert list to tupel
tup1  = tuple(list1)
tup1

('Prem', '32', 'Phd', 'JBNU')

In [ ]:
#addint tuples 
tup2 = ("Jeonju" , )
tup1 += tup2 
tup1

('Prem', '32', 'Phd', 'JBNU', 'Jeonju')

In [ ]:
#dictionaries | ordered from python 3.7 | popitem(): remove last item | pop('Keyname') | keys() | get(keyname)
myDic1 = {"name" : "prem", "Age" : 32, "address" : "Jeonju"}
myDic1

{'name': 'prem', 'Age': 32, 'address': 'Jeonju'}

In [ ]:
for key in myDic1.keys():
    print(item)

address
address
address

In [ ]:
for dict_itm in myDic1.items():
    print(dict_itm)

('name', 'prem')
('Age', 32)
('address', 'Jeonju')

In [ ]:
for key, value in myDic1.items():
    print(key, value)

name prem
Age 32
address Jeonju

In [ ]:
myDic1.popitem()
myDic1

{'name': 'prem', 'Age': 32}

In [ ]:
age = myDic1.pop("Age")
print(age)
myDic1

32

{'name': 'prem'}

In [ ]:
myDic1.update({"name" : "Ram"})  #Provide the updated values in dict format
myDic1

{'name': 'Ram', 'Age': 32}

In [ ]:
myDic1.values()

dict_values(['Ram', 32])

In [ ]:
print(sorted(myDic1)) #Sorting dictionary by keys

['Age', 'address', 'name']

In [ ]:
#copy elemtents 
mydict = myDic1.copy()
mydict

{'name': 'Ram', 'Age': 32}

In [ ]:
myDic1.clear()
myDic1

{}

In [ ]:
#Conditional statements | if | elif | else
#package delivery cost based on location and total amount
total = int(input("Enter the amount fro item:"))
state  = input("Enter the state name in USA")
if state  == "Texas":
    if total < 150:
        print("Shipping Cost in Texas is $30")
    elif total > 150 and total <=250:
        print("Shipping cost in Texas in $20")
    else: 
        print("Shipping cost in Texas is $5")

Shipping cost in Texas is $5

In [ ]:
#while concatenating text to a list , all text characters are treated as individual list items
list1 = ["prem" , "ram"]
name = "Shyam"
list1 += name
list1

['prem', 'ram', 'S', 'h', 'y', 'a', 'm']

In [ ]:
#while loop 
i = 0
while i <10:
    i = i +1 
    print(i, end = "#")
    print() #New line character

1#
2#
3#
4#
5#
6#
7#
8#
9#
10#

In [ ]:
count = 0 
#
while count <= 5:
    print("The condition is true")
    count = count + 1
print("End of loop")

The condition is true
The condition is true
The condition is true
The condition is true
The condition is true
The condition is true
End of loop

In [ ]:
while True:
    print("Enter Nmae")
    name = input()
    if name == 'prem':
        break
print("Print thank you typed correct")

Enter Nmae
Print thank you typed correct

In [ ]:
# continue 
i = 0 
while i < 10:
    i += 1 
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
a = [1, 2, 3, 4, 5]
while a:
    print(a.pop())
else:
    print("There are not element left")

5
4
3
2
1
There are not element left

In [ ]:
#Guess a random number 
import random 
n = random.randint(1, 100)
print(n)
guess = int (input("Enter number ")) 
while n != "guess":
    if guess < n:
        print("Low guess")
        guess = int (input("Enter number ")) 
    elif guess >n:
        print("hi")
        guess = int (input("Enter number ")) 
    else:
        print("True Guess")
        break
    print() #Radom line print

33
hi

True Guess

In [ ]:
#For loop uses a range ()
s = 'SimpleLearn'
print(s[0:4])
for i in s:
    print(i, end="*")  #print provides deafult \n char

Simp
S*i*m*p*l*e*L*e*a*r*n*

In [ ]:
#use for loop in list
progr = ["java" , "python", "html"]
for iter in progr:
    print(iter)

java
python
html

In [ ]:
#find average of list of number 
list_num  = [20, 25, 50, 40]
sum = 0
for i in list_num:
    sum = sum + i
print("Sum = ", sum)
print("Average=", sum/len(list_num))

Sum =  135
Average= 33.75

In [ ]:
#For loop using tuple
num = (30, 40, 50, 60)
sum  = 0
for i in num:
    sum = sum + i
print(sum)

180

In [ ]:
#range  | exclude last index
for i in range(1 , 10) :
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,  20, 2):  #start, end, step size
    print(i)

10
12
14
16
18

In [ ]:
#print table of given number :
n = int (input("Enter number"))
for i in range(1, 11):
    mul = n * i
    print(n , "*", i , "=", mul )

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
list2 = ['C++', 'Java', 'Python']
for i in range(len(list2)):
    print("Hello ",list2[i] )

Hello  C++
Hello  Java
Hello  Python

In [ ]:
#Nested for lolo
companies  = ["Google", "Apple", "uber"]
for i in companies:
    print(i)
    for letter in i :
        print(letter)

Google
G
o
o
g
l
e
Apple
A
p
p
l
e
uber
u
b
e
r

In [ ]:
#foor loop with else: | Gives facility to execute after loop has completed
for i in range(0, 10, 3):
    print(i)
else:
    print("The loop has completed ")

0
3
6
9
The loop has completed

In [ ]:
#break and for loop can be used in for
for i in range(1, 10):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [ ]:
#continue  for loop can be used in for
for i in range(1, 10):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9

In [ ]:
#program to display total goals a player has scored
player_name = "Prem"
goals = {
    'Edition' : 3, 
    'Prem' : 5,
    'Ram' : 10
}
for player_name in goals:
    if player_name == "Prem":
        print("Goals by : ", player_name, goals[player_name])

Goals by :  Prem 5

In [ ]:
#Cube of numbers
num = [2, 5, 7]
cube = []
for i in num:
    cube.append(i**3)
print(cube)

[8, 125, 343]

In [ ]:
#Pattern priting
n = int(input("Enter no of row"))
for i in range(0, n):
    for j in range(0, i +1):
        print("*", end="") 
    print()

*
**
***

In [ ]:
#Looping | Ascending order 
num = [2, 5, 10, 50, 36, 49]

for i in sorted(num):
    print(i)

2
5
10
36
49
50

In [ ]:
#Looping | Descending  order 
num = [2, 5, 10, 50, 36, 49]

for i in sorted(num, reverse=True):
    print(i)

50
49
36
10
5
2

In [ ]:
#String sortings | Descdning order  | Defautl ascending
players = ["Messi", "Ronalod", "Prem"]
for i in sorted(players, reverse=True):
    print(i)

Ronalod
Prem
Messi

In [ ]:
#dictioonary | Sorted in Ascending order  
d = {'d': 1, 'e': 5, 'f': 10}
for i in sorted(d.items()):
    print(i)

('d', 1)
('e', 5)
('f', 10)

In [ ]:
#dictioonary | Sorted in Ascending order  only keys
d = {'d': 1, 'e': 5, 'f': 10}
for i in sorted(d.keys()):
    print(i)

d
e
f

In [ ]:
#dictioonary | Sorted in Ascending order  only keys
d = {'d': 1, 'e': 5, 'f': 10}
for i in sorted(d.values()):
    print(i)

1
5
10

In [ ]:
#reverse
players =   ["Messi", "Ronalod", "Prem"]
for i in reversed(players):
    print(i)

Prem
Ronalod
Messi

In [ ]:
#filtering elements in list
#Inside the filter function , I give anonymous function labmda , where i represent one item of list at at time, 
#The item is dictionary so, dictinoary item (input is ) is such that, output is kept only when the particualr condition is met
animals  = [{"name" : "Dog", "age": 11}, {"name": "Lion", "age" : 30}, {"name": "elephant", "age": 16}]
for animals in filter(lambda i : i["age"]% 2 == 0, animals):
    print(animals)

{'name': 'Lion', 'age': 30}
{'name': 'elephant', 'age': 16}

In [ ]:
#another example of list filtering 
students_marks = [{"name": "Rohit", "marks" : 512}, {"name" : "Prem", "marks" : 320}, {"name" : "sita", "marks" : 366}, 
                  {"name" : "amrit", "marks" : 620} 
                  ]

In [ ]:
#Apply using loop filter such that only students with first division (marks >420 is printed)
for students_marks in filter(lambda student_record: student_record['marks'] > 420, students_marks ) :
    print(students_marks)

{'name': 'Rohit', 'marks': 512}
{'name': 'amrit', 'marks': 620}

In [ ]:
'''
filter() function is an iterator, and it can only be iterated once. 
If you need to access the filtered list multiple times, 
you might want to convert it to a list before iterating:
'''
filtered_list = filter(lambda record : record["marks"] > 420 , students_marks )
type(filtered_list)  #filter function is a type of iterator, so it can be iterated only once 
print(filtered_list)

<filter object at 0x7f63f07fbd30>

In [ ]:
converted_list = list(filtered_list)
for record in converted_list:
    print(record)

{'name': 'Rohit', 'marks': 512}
{'name': 'amrit', 'marks': 620}

In [ ]:
#Re
country = ['Nepal', "India", "Japan"]
while country:
    print(country.pop(-1)) #Remove from end of the list

Japan
India
Nepal

In [ ]:
num = 10 
while num > 0: num -= 1 ; print(num)  #Printing code in single

9
8
7
6
5
4
3
2
1
0

In [ ]:
#enumerate | result printed as tuple
for i in enumerate(['The ', 'brown', 'fox', 'in', 'lazy']):
    print(i)

(0, 'The ')
(1, 'brown')
(2, 'fox')
(3, 'in')
(4, 'lazy')

In [ ]:
#enumerate | result printed as tuple
for key, value in enumerate(['The ', 'brown', 'fox', 'in', 'lazy']):
    print(key, value)

0 The
1 brown
2 fox
3 in
4 lazy

In [ ]:
company ="simplyLearn"
for i, j in enumerate(company):
    print(i, j)

0 s
1 i
2 m
3 p
4 l
5 y
6 L
7 e
8 a
9 r
10 n

In [ ]:
company ="simplyLearn"  #Change start indx = 10
for i, j in enumerate(company, start=10):
    print(i, j)

10 s
11 i
12 m
13 p
14 l
15 y
16 L
17 e
18 a
19 r
20 n

In [ ]:
#zip function | iterator of tuple | Iterated through both list at once
first = ['Prem', "Ram", 'Rabi']
last = ["Singh", "Bist", "Chand"]
for i in zip(first, last):
    print(i)

('Prem', 'Singh')
('Ram', 'Bist')
('Rabi', 'Chand')

In [ ]:
#zip function | iterator of tuple | Iterated through multiple list at once 
#only equal lenght will be zipped
first = ['Prem', "Ram", 'Rabi' , "hariDash"]  
last = ["Singh", "Bist", "Chand"]
num = [1, 2, 3]
for i in zip(first, last, num):
    print(i)

('Prem', 'Singh', 1)
('Ram', 'Bist', 2)
('Rabi', 'Chand', 3)

In [ ]:
#zip_longest | longest elements will be inserted 
from itertools import zip_longest
first = ['Prem', "Ram", 'Rabi', 'Shyam', "Shubham"]
last = ["Singh", "Bist", "Chand"]
for i in zip_longest(first, last):
    print(i)

('Prem', 'Singh')
('Ram', 'Bist')
('Rabi', 'Chand')
('Shyam', None)
('Shubham', None)

In [ ]:
#zip_longest | fill some specific value where value is not found 
from itertools import zip_longest
first = ['Prem', "Ram", 'Rabi', 'Shyam']
last = ["Singh", "Bist", "Chand"]
num = [1, 2, 3]
for i in zip_longest(first, last, fillvalue= 'Undefined Name'):
    print(i)

('Prem', 'Singh')
('Ram', 'Bist')
('Rabi', 'Chand')
('Shyam', 'Undefined Name')

In [ ]:
#functions | Built in functions
print(abs(-10.75))

10.75

In [ ]:
print(len("Prem"))
len([1, 2, 3, 4, 5])

4

5

In [ ]:
my_list = [1, 0 , 1]  #Consider as boolean here
#True if all elements in an iterable are True, and Fa
x = all(my_list) #
x

False

In [ ]:
s = sum([1, 2,3 ])
print(s)
s1 = sum((7, 5, 9))
print(s1)

6
21

In [ ]:
max([1, 2, 3, 4]) #max of iterable

4

In [ ]:
max(['A', 'B', 'C', 'D']) #max of iterable

'D'

In [ ]:
max({1, 1, 2, 3, 4, 5}) #max of set

5

In [ ]:
my_list = [1, 3 , 4]  #
#True if all elements in an iterable are True, and Fa
x = all(my_list) #
x

True

In [ ]:
#iterator is | iter() and next() 
my_list  = iter(['I', 'N', 'D', 'i', 'A'])
x = next(my_list)
x

'I'

In [ ]:
next(my_list)

'N'

In [ ]:
#power function
pow(2, 4)

16

In [ ]:
#Range (0 to n exclusicve)
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [ ]:
x  = range(40, 50, 2) #Step size of 2
for n in x:
    print(n)

40
42
44
46
48

In [ ]:
#round function
x = round(8.6272, 2)  #Round to 2 decimal points
x

8.63

In [ ]:
#sorted function
a = ['I', "N", "D"]
sorted(a) #Ascending

['D', 'I', 'N']

In [ ]:
sorted(a, reverse=True)

['N', 'I', 'D']

In [ ]:
#slicing function
a  = ("S", "I", "M", "P", "l", "Y")
x = slice(5) #so 5 elements are sliced
print(a[x])

('S', 'I', 'M', 'P', 'l')

In [ ]:
#User defined function
def func1():
    print("Hello World")
func1()

Hello World

In [ ]:
def hello():
    name = str(input("Enter your country name"))
    print("Hello " + str(name))
hello()

Hello Japan

In [ ]:
#Function with different parameters
def ft_to_cm(ft):
    cm = ft*30.48
    return cm
print(ft_to_cm(10))

304.8

In [ ]:
def add(a, b):
    return  a + b
sum  = add(40, 50)
print(sum)

90

In [46]:
def factorial(x):
    if x == 0:
        return 1
    else:
        return x * factorial(x-1)
    
factorial(5)

120

In [49]:
def message(name1, name2, name3):
    print("Hello ", name1, ' Please tell ', name2, ' That ', name3 , " Is waiting")

message("Prem" , "Ritchel", "Shaw")

Hello  Prem  Please tell  Ritchel  That  Shaw  Is waiting

In [55]:
#Scope local scope
def func3():
    z = 7
    print(z)
    
func3()

7

In [58]:
#Scope global  scope | outside the function
z = 7 
def func3():
    print(z)
    
func3()

7

In [57]:
z

7

In [61]:
#You can not change the value of global variable inside the function
z = 7 
def func4():
    z = z + 7
    print(z)
    
func4()

UnboundLocalError: local variable 'z' referenced before assignment

In [62]:
#How to achivie this, use global keyword inside function
z = 7 
def func4():
    global z
    z = z + 7
    print(z)
    
func4()

14

In [66]:
#Passing variable number of args
def welcome(*names):
    print('Hello', names[0], names[1], names[2])

welcome('Stever', 'Bill', 'Ram')

Hello Stever Bill Ram

In [70]:
pi  = 3.14
def circleArea(radius):
    return pi * radius * radius

def sphereArea(radius):
    return 4 * pi * radius* radius

def main():
    print('Circl Area with radius 15:', circleArea(2))
    print('Sphere Area with radius 15:', sphereArea(2))

main()

Circl Area with radius 15: 12.56
Sphere Area with radius 15: 50.24

In [72]:
#lambda expression
sum   = lambda a,b : a +b  #input : output 
print(sum(5, 3))

8

In [74]:
#Lambda function multiply
multiply = lambda x, y : x*y
print(multiply(2, 5))

10

In [78]:
(lambda x, y : x*y ) (3, 4)   #Immediate invokedy expression  | here 3, 4 are the function parameters to anonymous function

12

In [82]:
product = lambda x, y , z : x*y*z 
print(product(z = 50, x = 10, y= 2)) #order is not required

1000

In [83]:
add = lambda x, y = 15, z = 24 : x + y + z  #Argument y ,z arument are already passed
print(add(20))

59

(base) perm@nscl-2:~/cov$ python
Python 3.10.9 (main, Mar  1 2023, 18:23:06) [GCC 11.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> addition = lambda *args : sum(args)
>>> addition(2, 3, 4)
9
>>>

In [93]:
higher_order_fun = lambda x , fun: x + fun(x) #Inputs are x and another function | output : 20 + 20*20
higher_order_fun(20, lambda x : x * x)

420

In [105]:
#ordered event
(lambda x : (x % 2 and 'odd' or 'even') )(29)

'odd'

In [106]:
(lambda x : (x % 2 and 'odd' or 'even') )(30)

'even'

In [109]:
sub_string = lambda myText : myText in "Welcome to python function tutorial"
print(sub_string('python'))
print(sub_string('Java'))

True
False

In [120]:
# lamda function using filter 
my_list = [40, 10, 54, 69, 50]
greter = list(filter(lambda num: num >30, my_list))  #filter (condition, list) | filter goes through each element in the list
greter

[40, 54, 69, 50]

In [122]:
list1 = [40, 10, 54, 69, 50]
divide = list(filter(lambda x : (x%4 ==0), list1 )  )  #filter(inputfunction, GivenList)
divide

[40]

In [125]:
#map function with 
list2 = [40, 10, 54, 69, 50]
double_the_num  = list(map(lambda x : x * 2 , list2))  #map(function_to_perform , toTheGivenList)
double_the_num

[80, 20, 108, 138, 100]

In [131]:
#Fitler list of even numbers using lambda and filter function
list1 = [1, 2, 3, 4, 5, 6, 7, 8]
list_modified = filter(lambda x : x%2 ==0, list1  )
print(list_modified) #Convert list to 
print(list(list_modified))

<filter object at 0x7fcfd80b4f28>
[2, 4, 6, 8]

In [133]:
#Get the square of the numbers for the following list using map
list1 = [1, 2, 3, 4,5 ]
result = map(lambda x: x *x , list1)
print(result)
print(list(result))

<map object at 0x7fcfd80b4978>
[1, 4, 9, 16, 25]

In [136]:
#find power of number raised to 3
nums = [2, 3, 4, 5] 
cube = map(lambda x : pow(x, 3), nums)
print(cube)
print(list(cube))

<map object at 0x7fcfd80cc048>
[8, 27, 64, 125]

In [138]:
2**3 #Power

8

In [140]:
#Using reduce function | calculate total sum , or multiply together
from functools import reduce
list4  = [1, 2, 3, 4, 5, 5]
sum = reduce(lambda x, y: x + y, list4) #reduce,  input two elements x, y and output , x + y
print(sum)

20

In [142]:
#find product of numb
prod = reduce(lambda x, y : x *y, list4)
prod

600

In [148]:
#quardratic equation ax^2 + bx + c
def quadratic(a, b ,c):
    return lambda x : a*x**2 + b * x + c
f = quadratic(2, 3, 5)
f(1)

10

In [149]:
#object oriented programming
class NewClass:
    x = 50

In [150]:
NewClass.x

50

In [151]:
class NewClass1:
    x = 100

#Create object
r  = NewClass1()
r.x

100

In [152]:
class Student:
    id = 10
    name = "Prem"
    
    def display(self):
        print(self.id, self.name)
s = Student()
s.display()

10 Prem

In [153]:
class Student:
    "This is a doc string example"
    age = 14
    def welcome(self):
        print("welcome ")

print(Student.age)
print(Student.welcome)
print(Student.__doc__)

14
<function Student.welcome at 0x7fcfd85bec80>
This is a doc string example

In [154]:
#using init function 
class Student:
    def __init__(self, name, dob):
        self.name = name
        self.dob = dob
        
s1 = Student('Hary', '1967')
print(s1.name)
print(s1.dob)

Hary
1967

In [155]:
#modify objects
s1.name = "Ram"
print(s1.name)

Ram

In [156]:
#delete object property
del s1.name
print(s1.name)

AttributeError: 'Student' object has no attribute 'name'

In [157]:
#del object 
del s1

In [158]:
print(s1.dob)

NameError: name 's1' is not defined

In [159]:
class Animal:
    def __init__(self, name):
        self.name = name
    def greet(self):
        print("Hi", self.name)

a1 = Animal('Puppy')
a1.greet()

Hi Puppy

In [160]:
#Inheritance 
class Bikes:
    def __init__(self, brandname, year):
        self.brandname = brandname
        self.year = year
bmw = Bikes("Bmw", 2021)
ducati = Bikes("Ducati" , 2020)

In [161]:
print(bmw.brandname)

Bmw

In [162]:
class Animal:
    def sound(self):
        print("Animla Making Sound")
class Cat(Animal):
    def meow(self):
        print("Cat Meow")

d = Cat()
d.meow()
d.sound()

Cat Meow
Animla Making Sound

In [165]:
#Multi level inheritance
class Animal:
    def sound(self):
        print("Animla Making Sound")
class Cat(Animal):
    def meow(self):
        print("Cat Meow")
class Kitten(Cat):
    def eat(self):
        print("Cat Meow")

In [164]:
kitten = Kitten()
kitten.eat()
kitten.meow()
kitten.sound()

Cat Meow
Cat Meow
Animla Making Sound

In [167]:
#Polymorphism
class Parrot:
    def fly(self):
        print("parrot fly")
    def swim(self):
        print("Parrot can not swim")
        
class Penguin: 
    def fly(self):
        print("Penguin can not fly")
    def swim(self):
        print("Penguin can swim:")

In [168]:
#Method of type bird  | Based on the instance of bird, it
def flying_test(bird):
    bird.fly()

In [169]:
blu = Parrot()
peggy = Penguin()

flying_test(blu)
flying_test(peggy)

parrot fly
Penguin can not fly

In [183]:
#Encapsuklations
class Cars:
    def __init__(self):
        self.__maxPrice = 900
    def sell(self):
        print("Selling price : {}".format(self.__maxPrice))
        
    def setMaxPrice(self, price):
        self.__maxPrice = price

In [184]:
car = Cars()
car.sell()

Selling price : 900

In [186]:
#Even after changiong the price, the price is not changed  
#because it is __maxPrice is a private variable , 
#When you use __ infront of variable name, this means variable is private
car.maxPrice = 1000
car.sell()

Selling price : 900

In [188]:
car.setMaxPrice(1100)
car.sell()

Selling price : 1100

In [191]:
#Hierarical inheritance
class Employee():
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

class AdministrationEmployee(Employee):
       def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    
class ITEmployee(Employee):
       def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

In [194]:
e1 = AdministrationEmployee('Prem', 27, 2000)
print(e1.age)

27

In [201]:
#Abstraction
class Car():
    def milege(self):
        pass
class BMW(Car):
    def milege(self):
        print("The Milege is 30Kmph")
    
class Jaguar(Car):
    def milege(self):
        print("The Milege is 40Kmph")
class Renauge(Car):
    def milege(self):
        print("The Milege is 50Kmph")

In [202]:
car = BMW()
car.milege()

The Milege is 30Kmph

In [203]:
#multiple inheritacne | java does not support multiple inheritance 
class Calculation1:
    def sum(self, x, y ):
        return x+y
class Calculation2:
    def subtract(self, x, y ):
        return x-y    

class DerivedClass(Calculation1, Calculation2):
    def multiply(self, x, y ):
        return x*y

In [205]:
d = DerivedClass()
print(d.sum(12, 13))
print(d.subtract(12, 13))
print(d.multiply(12, 13))

25
-1
156

In [213]:
#__init__() usages 
class Person:
    def __init__(self, name):
        self.name = name
    def printname(self):
        print(self.name)
class Student(Person):
    def __init__(self, name):
        #Invoking parent class using __init__
        Person.__init__(self, name)
        

x = Student("Prem")
x.printname()

Prem

In [222]:
#superkey
class Student(Person):
    def __init__(self, name):
        #Invoking parent class using __init__
        super().__init__(name)

In [223]:
x = Student("Prem")
x.printname()

Prem

In [224]:
#multiple inheritacne | java does not support multiple inheritance 
class Calculation1:
    def sum(self, x, y ):
        return x+y
class Calculation2:
    def subtract(self, x, y ):
        return x-y    

class DerivedClass(Calculation1, Calculation2):
    def multiply(self, x, y ):
        return x*y

In [228]:
#Check is subclass  | issubclass(derviedClass, parenetClass)
d = DerivedClass()
print(issubclass(DerivedClass, Calculation2 )) #DervicedClass is subclass of calculation 2
print(issubclass(Calculation2, DerivedClass ))  #Calucation 2 is not a sub class of derived class

True
False

In [229]:
#isInstance function 
print(isinstance(d, DerivedClass))  #is d instance of derived class

True

In [239]:
#Iterators  | iter() , internal implicity  __iter__() , __next__()
#Custom iterator override these methods
#StopIteration Exception
list =   [1, 2, 5, 6, 8]
my_iter = iter(list)
print(next(my_iter))
print(next(my_iter))
print(my_iter.__next__())
print(next(my_iter))
print(next(my_iter))
print(next(my_iter)) #When finished iterative over element and still performing next than it will through StopIteration Exception

1
2
5
6
8

StopIteration:

In [241]:
ierat_value = "Geeks" 
iter_ojb = iter(ierat_value)
#After list finish , it gives you iteration exception 
#
while True:
    print(next(iter_ojb))

G
e
e
k
s

StopIteration:

In [242]:
#handle this exception | How to handle StopIteration Exception
#this is automatically handled by loops such as for for python version  > 3.3 
ierat_value = "Geeks" 
iter_ojb = iter(ierat_value)
#After list finish , it gives you iteration exception 
#
while True:
    try:
        print(next(iter_ojb))  #python implictiy invoked __iter__() and __next__()  method
    except StopIteration:
        break

G
e
e
k
s

In [243]:
!python --version

Python 3.7.0

In [256]:
#Write custom iterator 
class addsix:
    def __init__(self, max = 0):
        self.max = max
    def __iter__(self):
        self.n = 0
        return self
    def __next__(self):
        if self.n <= self.max:
            result = self.n + 6
            self.n += 1
            return result
        else:
            raise StopIteration

numbers = addsix(9) #When max number reached upto 9 the results are calcuated

In [257]:
i = iter(numbers)

In [267]:
print(next(i))

15

In [254]:
print(next(i))
print(next(i))
print(next(i))

StopIteration:

In [366]:
#print the numbers and stop iterating after 20 
class MyIterator: 
    def __init__(self):
        pass
    
    #return self to consider the class a iterable
    def __iter__(self):
        self.a = 0
        return self
    
    #Define logic for traversing    
    def __next__(self):
        if self.a < 20: 
            x = self.a
            self.a += 1 
            return x 
        else:
            raise StopIteration
numberClass = MyIterator()

In [367]:
myIterator = iter(numberClass)

In [368]:
next(myIterator)

0

In [381]:
class CustomRange:
    def __init__(self, start, end):
        self.current = start
        self.end = end
    #Return the instance of self in __iter__
    def __iter__(self):
        return self
    
    #Define traversing logic in __next__
    def __next__(self):
        if self.current >= self.end:
            raise StopIteration
        value = self.current
        self.current += 1
        return value

In [384]:
myClass = CustomRange(1, 5)
myIter = iter(myClass)
print(next(myIter))

1

In [382]:

# Usage
my_range = CustomRange(1, 5)
for num in my_range:
    print(num)

1
2
3
4

TypeError: iter() returned non-iterator of type 'MyIterator1'

In [387]:
#Generators in Python  | generator function  | next(genertorObject)

def my_gen():
    n = 1
    print("This is printed for first")
    #Not exiting like return statmenet | yield will start from the point where it left
    yield n 
    n +=1 
    print("This is printed second time")
    yield n
    n +=1 
    print("This is printed Last time")
    yield n

In [388]:
a = my_gen()
next(a)

This is printed for first

1

In [389]:
next(a)

This is printed second time

2

In [390]:
next(a)

This is printed Last time

3

In [391]:
next(a)

StopIteration:

In [392]:
#call in loop

def my_gen():
    n = 1
    print("This is printed for first")
    #Not exiting like return statmenet | yield will start from the point where it left
    yield n 
    n +=1 
    print("This is printed second time")
    yield n
    n +=1 
    print("This is printed Last time")
    yield n

In [393]:
for item in my_gen():
    print(item)

This is printed for first
1
This is printed second time
2
This is printed Last time
3

In [394]:
#Exampel of return in generator 
def my_gen():
    n = 1
    print("This is printed for first")
    #Not exiting like return statmenet | yield will start from the point where it left
    yield n 
    
    return 
    n +=1 
    print("This is printed second time")
    yield n
    n +=1 
    print("This is printed Last time")
    yield n

In [395]:
a= my_gen()
next(a)

This is printed for first

1

In [396]:
next(a)  #You can not move from the first item becuase, return will exist

StopIteration:

In [399]:
#
list1 = [2, 3, 4, 5, 6, 7]
list_2 = [x**2 for x in list1]
#() will act as generator , so printing generator will not give direct related but generator object
generator = (x**2 for x in list1)    
print(list2)
print(generator)

[40, 10, 54, 69, 50]
<generator object <genexpr> at 0x7fcffdc1c4f8>

In [400]:
#Now you have to use the for loop and print each item in the tgenerator 
for item in generator:
    print(item)

4
9
16
25
36
49

In [401]:
#Creating generator for 2 pow N
def all_even():
    n = 0
    while True:
        yield n
        n += 2

In [404]:
mygen =  all_even() 
next(mygen)
next(mygen)

2

In [405]:
next(mygen)

4

In [409]:
#Create fibonacci series  | Calcualte fibo number, sqare and get sum 
def fibo_num(nums):
    x, y = 0, 1
    for i in range(nums):
        x, y = y, x+y
        yield x

def square(nums):
    for num in nums:
        yield num**2

In [415]:
gen_fib  = fibo_num(10)
for num in gen_fib:
    print(num)

1
1
2
3
5
8
13
21
34
55

TypeError: 'list' object is not callable

In [410]:
print(sum(square(fibo_num(10))))

TypeError: 'int' object is not callable

In [407]:
gen_fib  =  fibo_num(10)
gen_seq  = square(gen_fib)
total  = sum(gen_seq)

TypeError: 'int' object is not callable

In [15]:
def fib(limit):
    a, b = 0, 1
    while a < limit:
        yield a 
        a,b = b, a +b

In [16]:
x = fib(10)
print(next(x))
print(next(x))
print(next(x))

0
1
1

In [17]:
#using loop 
for i in x:
    print(i)

2
3
5
8

In [24]:
#Generate example for getting fibonacci number | x = y , y = x+y
def get_fib_num(n):
    x0 = 0 
    x1 = 1
    y = 0
    for i in range(n):
        y = x0  + x1 
        yield y 
        x0 = x1 
        x1 = y

In [25]:
fib_obj  = get_fib_num(5)
fib_obj

In [26]:
for num in fib_obj:
    print(num)

1
2
3
5
8

In [28]:
##Scope of python program 
#LEGB rule of python scope | Local | Enclosing | Global | Built in Scope 
#local : function level : enclosing scope: nested function  {}
#localscope  of s 
def fun():
    s  = "Prem"
    print(s)
fun()

Prem

In [30]:
print(s) #Becaus s variable is local

NameError: name 's' is not defined

In [32]:
#Enclosed scope
def f1():
    s2 = "Prem"
    def inside_fun():
        print(s2)
    inside_fun()
f1()

Prem

In [45]:
def outer_function():
    x = 10  # This is a local variable for outer_function

    def inner_function():
        #nonlocal x  # Declare that we want to modify the x in the outer_function's scope
        x += 5

    inner_function()
    print(x)  # Prints 15, because x in the outer_function's scope was modified

outer_function()
print("Outer global variable value is not modified, even we modified value at inner function", x)

UnboundLocalError: local variable 'x' referenced before assignment

In [48]:
#glbal scope 
s3 = "Prem"
def fun1():
    print(s3)
print(s3)
fun1()

Prem
Prem

In [50]:
#convert local scope into global scope inside function | use global keyword
#Accessed it outside the function
def func3():
    global s  
    s  = "Prem "
func3()
print(s)

Prem

In [56]:
#Note here we modified the value inside  local scope, which is not reflected globllay,, to reflect it globally 
#we need to use global keyword inside as well
a1  = "India"
def my_country():
    #global a1
    a1 = "France"
my_country()
print(a1)

India

In [55]:
a1  = "India"
def my_country():
    global a1
    a1 = "France"
my_country()
print(a1)

France

In [5]:
#Built in scopes in python | global , local |
from math import pi
pi  = 'Global pi variabloe'
def outer():
    pi  = 'Outer variable pi'
    def inner():
        pi  = 'Inner'
        print(pi)
    inner()
outer()

Inner

In [4]:
#Built in scopes in python |  builtin scope is used here directly from pi module
from math import pi
# pi  = 'Global pi variabloe'
def outer():
    # pi  = 'Outer variable pi'
    def inner():
        # pi  = 'Inner'
        print(pi)
    inner()
outer()

3.141592653589793

In [13]:
from calcuation import sum
print(sum(2, 3))

5

In [14]:
#import as alisa
from calcuation import sum as s
print(s(2, 3))

5

In [15]:
#print all the variables avaiable in python module
import calcuation
dir(calcuation)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'sum']

In [16]:
import math
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [17]:
math.pow(2, 6)

64.0

In [35]:
#Write a code to choose random element from the list and choose it 
import random 
fruits  = ["Apples", "Gauva", "Banana", "Orange"]
rand_index  = random.randint(0, len(fruits)-1)
print(fruits[rand_index])

Apples

In [42]:
#Choosing random element using choice function
choose = random.choice(fruits)
choose

'Gauva'

In [43]:
#map | filter | and reduce function
#map(function, iteratable) -->Return output after executing function on each of the items of iterable
#you can also use lambda function instead of full function as well

#filter : filter(function, iterable)  | reduce size of iterable  based on condition | 
# filter function should have condition either true of false  | will return only those elements which are true in iterable

#use function tools module to use reduce function
#reduce(function, iterables)  | returns single value based on function  | apply what ever math function you want

In [54]:
#map 
def add(a):
    return a + a
list1 = [4, 6, 8, 9 , 5]
out = map(add, list1)
print(out)

<map object at 0x7fd738236a30>

In [55]:
#So what it does is applied a+a operation to each element of the list and returned the list
print(list(out))

[8, 12, 16, 18, 10]

In [71]:
#map 
def add(a, b):
    return a + b
list1 = [4, 6, 8, 9 , 5]
list2 = [3, 6, 8, 9 , 5, 7]
out1 = map(add, list1, list2)
print(out)

<map object at 0x7fd740693e20>

In [72]:
#you can see here, the map(func, iterables) | so funct takes two a, and b  from iterable and add them and 
#then the added list is returned #Note that the operation happens element by element
#When there are more element of list 2, the item is not added to the returned list
print(list(out1))

[7, 12, 16, 18, 10]

In [74]:
#lets use lamba fuction to scale the list by 2 times
list1 = [7, 12, 16, 18, 10]
map_scaled_by_2  = map(lambda element: element * 2,  list1) 
print(map_scaled_by_2)

<map object at 0x7fd7381e7460>

In [75]:
#Convert map object to list 
print(list(map_scaled_by_2))

[14, 24, 32, 36, 20]

In [76]:
#note that once you iterated over the map object, next time, you iterate it returns nothing because all elements are consumed
#Becuase map object is based on the concept of iterators  
#convert map to list 
print(list(map_scaled_by_2))

[]

In [79]:
#Print upper case using map 
list1  = ["apple", "gauva", 'banana', 'Mango']
upper_case_mapping = map(lambda txt: str.upper(txt), list1)
list(upper_case_mapping)

['APPLE', 'GAUVA', 'BANANA', 'MANGO']

In [88]:
#filter function always should have condition
def check_length(element):
    if len(element) < 15 :
        return False
    return True

list1= ['My is name is prem', 'Ravi', "Govind is " , "Nepal is the most beautiful country in the world"]

In [89]:
filtered_obj = filter(check_length, list1)
print(filtered_obj)

<filter object at 0x7fd740693d90>

In [90]:
#Convert and print filter object to list
list(filtered_obj)

['My is name is prem', 'Nepal is the most beautiful country in the world']

In [91]:
#example of filter using the lamda function | keep value where len(txt) > 15
filtered_obj = filter(lambda text:  len(text) > 15, list1)
list(filtered_obj)

['My is name is prem', 'Nepal is the most beautiful country in the world']

In [105]:
#reduce (function, iteratbles) # 
# | reduce returns a single result, so you don't need to convert back to a list
from functools import reduce
list1 = [1, 2, 3, 4, 5]
def factorial(a, b):
    return a* b

cal_fact_reducer = reduce(factorial, list1)
print(cal_fact_reducer)

120

In [104]:
list1 = [1, 2, 3, 4, 5]
def factorial(a, b):
    return a* b

cal_fact_reducer = reduce(lambda a, b : a*b, list1) #computes the single value 
print(cal_fact_reducer)

120

In [1]:
##Exception handling try | except | else | finally
#handle divide by zero error
a = 10 
b  = 0
c = a/ b 
c

ZeroDivisionError: division by zero

In [4]:
#lets handle this probably 
try:
    a = int(input("Enter num 1 "))
    b = int(input( "Num 2"))
    c = a/b 
    print("Division result ", c)
except:
    print(f"Can't divide {a} by {b}")

Can't divide 10 by 0

In [5]:
#catch specific exception ZeroDivisionError 
#lets handle this probably | Here only ZeroDivisionError will be capture 
try:
    a = int(input("Enter num 1 "))
    b = int(input( "Num 2"))
    c = a/b 
    print("Division result ", c)
except ZeroDivisionError:
    print(f"Can't divide {a} by {b}")

Can't divide 10 by 0

In [6]:
#print  exception object
try:
    a = int(input("Enter num 1 "))
    b = int(input( "Num 2"))
    c = a/b 
    print("Division result ", c)
except Exception:
    print(f"Can't divide {a} by {b}")
    print(Exception)

Can't divide 10 by 0
<class 'Exception'>

In [9]:
#excute else block | if Exception, other wise else block object
try:
    a = int(input("Enter num 1 "))
    b = int(input( "Num 2"))
    c = a/b 
    print("Division result ", c)
except Exception:
    print(f"Can't divide {a} by {b}")
    print(Exception)
else:
    print("Good You entered valid division numbers ")

Division result  5.0
Good You entered valid division numbers

In [13]:
#Getting alias for exception and print
try:
    a = int(input("Enter num 1 "))
    b = int(input( "Num 2"))
    c = a/b 
    print("Division result ", c)
except Exception as myExc:
    print(f"Can't divide {a} by {b}", myExc)
else:
    print("Good You entered valid division numbers ")

Can't divide 10 by 0 <traceback object at 0x7f80ecf8cb00>

In [22]:
#lets have multiple excep blocks
#Getting alias for exception and print
try:
    a = int(input("Enter num 1 "))
    b = int(input( "Num 2"))
    c = a/b 
    #A is not defined here 
    d= a / z
    print("Division result ", c)
except ZeroDivisionError as divZError:
    print(f"Can't divide {a} by {b}", divZError)
except NameError as all_my_excepts:
    print("The other not handled exception printed here ", all_my_excepts)
else:
    print("Good You entered valid division numbers ")

The other not handled exception printed here  name 'z' is not defined

In [23]:
#explicity raising expception
#lets handle this probably 
x  = -5 
if x < 0: 
    raise Exception("Sorry number must be greater than 0")

Exception: Sorry number must be greater than 0

In [25]:
#Rasing Custom exception as handling 
x = -5 
try:
    if x  < 0 :
        raise Exception("Number must be greater than 0")
except Exception as e:
    print("Excption occured, the deails is : ", e)
finally:
    print("Closing all resources")

Excption occured, the deails is :  Number must be greater than 0
Closing all resources

In [27]:
#raising assertion error  using assert  
import sys
sys.platform

assert('windows' in sys.platform), "Comptabile with windows only "

AssertionError: Comptabile with windows only

In [29]:
a = int(input("Num1"))  
b  =  int(input("Num2")) 
assert(a > 5), "A must be grater than b"

AssertionError: A must be grater than b

In [2]:
#file handlings 
import os 
file = open('hello.txt', 'r')
print(file.read())
file.close()

Hi
How
r

In [4]:
#Read first 5 charactes:
#file handlings 
import os 
file = open('hello.txt', 'r')
print(file.read(7))
file.close()

Hi
How

In [10]:
#read line by line
import os
file = open('hello.txt', 'r')
print(file.readline())
file.close()

In [13]:
#all lines are read
import os
file = open('hello.txt', 'r')
print(file.readlines())  
file.close()

['Hi  How r u \n', 'How \n', 'r coll \n']

In [14]:
#how many characters to read from the line
import os
file = open('hello.txt', 'r')
print(file.readlines(3))  
file.close()

['Hi  How r u \n']

In [16]:
#write 
import os
file = open('week.txt', 'w')
file.write("Sunday \n")
file.write("Monday")

file.close()

In [22]:
#append 
import os
file = open('week.txt', '+a')
file.write("\n Tuesday \n")
file.close()

In [24]:
#append 
import os
if os.path.exists("week.txt"):
    os.remove("week.txt")
else:
    print("There is no file with name today")

There is no file with name today

In [26]:
#print lines in a loop
import os 
file  = open("hello.txt", 'r')
for line in file:
    print(line)
    print(file.readlines())

Hi  How r u

['How \n', 'r coll \n']

In [ ]:
#r, w , a , 
# r+ (read and write) | previous data will be overridden
#w+ : read and write : override existing data
#a+  : append and read data, will not override

In [29]:
##Sorting in python | Bubble sort | merge sort | quick sort  | insertion sort
#sorted()
l1  = [10, 2, 5, 8,9, 5]
l1.sort()
l1

[2, 5, 5, 8, 9, 10]

In [31]:
l1.sort(reverse=True)
l1

[10, 9, 8, 5, 5, 2]

In [14]:
#Bubble sort | compare each element with every other element | one iteration, one element is sorted
arr = [6, 3 , 4, 2, 4, 9, 8, 3, 3, 4,5 ]  #it is not sorting the last element

for i in range(len(arr)):
    start = i +1 
    end = len(arr)
    for j in range(start, end):
        if arr[i] > arr[j]:
            arr[i], arr[j] = arr[j] , arr[i]   #swapping of elements
arr

[2, 3, 3, 3, 4, 4, 4, 5, 6, 8, 9]

In [9]:
#bubble sort insertion and word-case time complexity O(n^2)
#insertion sort more efficient than bubble (typcially performs better)
#insertion vs bubble both complexity O(n^2) , however insertion sort has typically few comparision and swaps
#Insertion sort | first element is consider already sorted | all rest are considered unsorted 
#each itertion sorted items will be in its proper place | unosrted ones at right
#3, 1, 4,  2  | 3 already considered sorted and all other unsored 
#1, 3 , 4, 2  Compared 3, and 1 
#compare 4 with all other | nothing changed
#compare 2 with all other and swap 
 
arr = [3, 1, 4 , 2]

#Starting point is from 1th index as zeroth index is considered already sorted
for i in range(1, len(arr)): 
    #Take negative loop from
    loop_upto  = i 
    while (loop_upto > 0 and  arr[loop_upto] < arr[loop_upto -1] ):
        #swap 
        arr[loop_upto -1], arr[loop_upto] = arr[loop_upto], arr[loop_upto -1]
        loop_upto -= 1
        print(arr)
        
        
print(arr)

[1, 3, 4, 2]
[1, 3, 2, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [61]:
#merge sort

def merge_sort(arr):
    if len(arr) <= 1:
        return arr
    #divide 
    middle = len(arr)//2 #integer division
    left_arr = arr[:middle]
    right_arr = arr[middle: ]
    print(": {}  {} ".format(left_arr, right_arr))
    #print("*********Left elements sudivide********")
    left_arr = merge_sort(left_arr)
    print("*******right  elements started*****")
    right_arr = merge_sort(right_arr)
    print(left_arr, ":***", right_arr)
    
    return merge(left_arr, right_arr)
    
def merge(left_arr, right_arr):
    print(f"Merge steps begins here left arr {left_arr}  right arr {right_arr}")
    result = []
    left_index = 0
    right_index = 0
    #perfrom operation till left_index does not reach end of left array and right index does not reach end or right array
    while left_index < len(left_arr) and right_index < len(right_arr):
        #Add smaller elements to left else large elements to the right
        if left_arr[left_index] < right_arr[right_index]:
            result.append(left_arr[left_index])
            left_index += 1
        else:
            result.append(right_arr[right_index])
            right_index +=1 
    
    #append the remaining elements from left array and right array to the result
    #append left array first becuase, left array contains smaller elements
    result.extend(left_arr[left_index :])
    result.extend(right_arr[right_index :])
    return result

In [62]:
arr  = [8, 3, 2, 5, 6,3, 4]
result  = merge_sort(arr)
print(result)

: [8, 3, 2]  [5, 6, 3, 4]
: [8]  [3, 2]
*******right  elements started*****
: [3]  [2]
*******right  elements started*****
[3] :*** [2]
[8] :*** None
*******right  elements started*****
: [5, 6]  [3, 4]
: [5]  [6]
*******right  elements started*****
[5] :*** [6]
*******right  elements started*****
: [3]  [4]
*******right  elements started*****
[3] :*** [4]
None :*** None
None :*** None
None

In [87]:
#factroial using recursion
def factorial(n):
    if  n == 1:
        return 2
    else:
        #These recurvise calls variables are stored in call stack | that is a program to manage function call
        #Each time function is called a new stack frame is created on call stack to store the var 
        #Here you see two parameters one is n and other is result, which is stack frame and pushed to at the top of the  call stack
        #Each recursion creates a new call stack, on the top of previous one, with its own set of var and param
        #when base case is reached the , recursion starts to unwind (undo)
        #nnermost stack frame is popped from the call stack, and its return value is used in the calculation of the previous stack frame.
        #in this case will be a base case 1 and then 2 then 3 , finall 4 , and the result will be like : 1 * 2 * 3 * 4  = 24
        #if base case was returning 2 as the innermost case then the result would have been 2*2*3*4  = 48 
        result  = n * factorial(n-1)
        print(result)
    return result
result = factorial(4)
print(result)

4
12
48
48

In [100]:
#Check Pallidrome program 
# madam | radar
name  = input("Enter the pallidrome word")
end_pos = len(name) - 1
pos_counter = 0
stop_position = end_pos//2 
for letter in name:
    if pos_counter > stop_position:
        print("The word is pallindrome")
        break
    #First position == last postion
    #second postion == last -1 postion and so on
    print(letter, " : End postion", name[end_pos])
    if letter == name[end_pos]:
        end_pos = end_pos - 1
        pos_counter = pos_counter + 1 

        continue
    else:
        print("Not a pallindrome")
        end_pos = end_pos - 1
        pos_counter = pos_counter + 1 
        break

d  : End postion d
e  : End postion e
i  : End postion i
f  : End postion f
The word is pallindrome

In [105]:
#quick Sort | Divide and conquer 
#choose pivot element | store elements less than pivot at left subarray | greter elements right sub array
#Call quicksort on left subarray | call quicksort of rightsub array
#40 21 8 17 51 34 | choose most (normally right most : 34) | create array grater than 34 and less than 34
#Take 2 pointers i and J | i = 0 and J = pivot - 1 the index element 
#Both of these pointers job is to find elements less or greater than pivot element
#so It will shift until and unless it finds elements greater than pivot(34 )
#J will shift to left, util it finds element <than 34  (ie pivot element) 
#i = 40, and J = 51 | I already greater than 34 , so no shift to right 
#J should point to element less than 34 so, shift left , so the element will be shifted to 17 
#when both conditions are meet, lets i = 40 (>34) and j = (17) less than 34(pivot) | then swap I and Pivot
#Pivot element is sorted now
#Now shift both points  one one positions (from left one postion more , from right one position left)
#When J crosss I, swap  the pivot with I and pivot is in its sorted postion
#Now entire array is subdivied into two and pivot is in the right postion 
#Repeat same task for left array and right array 

def quick_sort_recursion(arr):
    #Base case: 
    if len(arr) <= 1 : 
        return arr
    
    #Divide other wise using pivot into two halves
    pivot = arr[0]
    left_arr = [i for i in arr[1:] if i <= pivot] #Remain elements except pivot arr[1:]
    right_arr = [i for i in arr[1:] if i > pivot]
    
    left = quick_sort_recursion(left_arr)
    right = quick_sort_recursion(right_arr)
    
    #As the return elements will be the array so  , pivot contactenation should also be array
    return left + [pivot] + right

In [107]:
arr = [40, 21, 8, 17, 51, 34,8 , 5]
result = quick_sort_recursion(arr)
print(result)

[5, 8, 8, 17, 21, 34, 40, 51]

TypeError: can only concatenate list (not "int") to list

In [75]:
'''Factorial recursion : num = 5:  5 * 4* 3 * 2 *1 
Base case : num == 1 
other wise multiply num by num -1 
so ever time in return statement : n * factorila(n-1)
Means: Returned value n is collected in stack 
-After  so stack will collect 5  | 4 | 3 | 2 | 
-When base case reaches : ie == 1, it returns 1 in the stack 
-Now actual computation happens in the stack values top 1 and next top -1 value 
ie first operation: 1*2 = 2
Second operation : 2 * 3 = 6
Third operation : 6*4 = 24
fourth operation: 24*5 = 120 
So all the items are pooped out and then result is returned 
'''
def recurrsion(num):
    #Base case 
    if num == 1 : 
        return 1 
    return num * recurrsion(num -1 )

result = recurrsion(5) #1*2*3*4*5
print("Factorial of number 5 is : ", result)

Factorial of number 5 is :  120